.card-description {
    &__text {
        max-width: 280px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        @include tablet {
            font-size: 12px;
        }
    }
}