.color {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: transparent;
    &_red {
        background-color: red;
    }
    &_white {
        background-color: white;
        outline: .4px solid $main-color;
    }
    &_black {
        background-color: black;
    }
    &_check {
        outline: .4px solid $gray;
    }
}