.footer-social {
    justify-self: center;
    @include mobile {
        grid-column: 2 / 4;
        justify-self: start;
    }
    &__title {
        margin-bottom: 16px;
        @include mobile {
            margin-bottom: 8px;
        }
    }
    &__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 20px;
        @include tablet {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 16px;
        }
    }
    &__list {
        display: flex;
        gap: 10px;
    }
    &__link {
        transition: color .3s ease-in-out;
        &:hover {
            color: $gray;
        }
    }
}