.product {
    &__image {
        margin-bottom: 10px;
    }
    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 13px;
        @include tablet {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 5px;
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        @include tablet {
            margin-bottom: 3px;
        }
    }
    &__price {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        @include tablet {
            font-size: 12px;
            line-height: 15px;
        }
    }
    &__btn-favorite {
        display: block;
        width: 24px;
        height: 24px;
        background-image: url(../img/favorit.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    &__color-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
    }
}